doctype html
html
	head
		title one page
		link(rel="stylesheet", href="style.css", type="text/css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		meta(charset="utf-8")
	body
		div.sprite
	




