doctype html
head
	title one page
	link(rel="stylesheet", href="css/style.css", type="text/css")
	meta(charset="utf-8")
body
	div.header
		img(src="img/finanspokal.svg")
		h2 finansbollen
	content.content3
		div.textContent3
			h2 Ni är inbjudna till finans-sm i fotboll
			p<span>7-manna, fria byten, benskydd, gemensamma tröjor.</span><br><span>Plats: 10 Oktober klockan 10:00, på Östermalms IP.</span><br><span>Sista anmälningsdag: 20 September</span><br><span>Pris: julbord av värde 30.000 kr</span>
		form(action="mailto:douglas.landvik@gmail.com" method="post")
			input(placeholder="name" type="text" name="name") 
			input(placeholder="email" type="text" name="email")
			input(placeholder="phonenumber" type="text" name="phonenumber")
			input(placeholder="questions" type="text-area" name="question")
			input(type="submit").submit
	content.content4
		h2 anmälda företag
	footer.hej
		ul