doctype html
head
	title one page
	link(rel="stylesheet", href="css/style.css", type="text/css")
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
	div.header
		div.meny
			ul
				a(href="")			
					li about
				a(href="")
					li projects
				a(href="")
					li shop
	content.content1
		div
			p lorem ipsum
			div.imgc
				img(src="img/bella.jpg")
		div
			p lorem ipsum
			div.imgc
				img(src="img/bella.jpg")
		div
			p lorem ipsum
			div.imgc
				img(src="img/bella.jpg")
	content.content2
		p We want to spread joy through the beautiful game
	content.content3
		div.textContent3
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
		form(action="mailto:douglas.landvik@gmail.com" method="post")
			legend Registration	
			input(placeholder="name" type="text" name="name") 
			input(placeholder="email" type="text" name="email")
			input(placeholder="phonenumber" type="text" name="phonenumber")
			input(placeholder="questions" type="text-area" name="question")
			input(type="submit").submit
	footer.hej
		ul
			a(href="")
				li			
					img(src="img/bella.jpg")
			a(href="")
				li			
					img(src="img/bella.jpg")
			a(href="")
				li			
					img(src="img/bella.jpg")

